extends layout
block content
    #loader
    .container
        .group
           input#search(type="search" , name='search',placeholder='Search')
           span.highlight
           span.bar
           #results




